<div class="smartspe-teacher-container">

  <h2>{{activityname}}</h2>
  <p>{{description}}</p>

  <div class="smartspe-actions">
    {{#buttons}}
    <a href="{{{url}}}" class="btn btn-primary m-2">
      <i class="fa {{icon}}"></i> {{name}}
    </a>
    {{/buttons}}
  </div>

</div>